<mat-card class="main-div">
	<mat-card-header class="main-header">
		THE COST OF US
	</mat-card-header>

	<mat-card-content>
		<div class="form-row">

			<mat-form-field appearance="fill">
				<mat-label>CPU</mat-label>
				<input type="text" placeholder="Select Your CPU" aria-label="cpu" matInput
					[formControl]="fg.controls['cpu']" [matAutocomplete]="auto1">
				<mat-autocomplete #auto1="matAutocomplete">
					<mat-option *ngFor="let cpu of filtered_cpu_list" [value]="cpu"> {{cpu}}</mat-option>
				</mat-autocomplete>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>GPU</mat-label>
				<input type="text" placeholder="Select Your GPU" aria-label="gpu" matInput
					[formControl]="fg.controls['gpu']" [matAutocomplete]="auto2">
				<mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
					<mat-option *ngFor="let gpu of filtered_gpu_list" [value]="gpu">{{gpu}}</mat-option>
				</mat-autocomplete>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>KW/h cost</mat-label>
				<input type="text" placeholder="Enter KW/h cost" aria-label="gpu" matInput
				[formControl]="fg.controls['kwh']">
			</mat-form-field>

		</div>
	</mat-card-content>

	<mat-card-actions>
		<button mat-raised-button [disabled]="fg.invalid">Figure cost</button>
	</mat-card-actions>
</mat-card>