.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/../assets/tlou.png");
    background-size: cover;
    // background-position-y: -10vh;
}

.main-header {
    font-family: 'headliner';
    font-size: 13em;
    text-shadow: 2px 1px 10px black;
    align-items: center;
    height: 20vh;
    color: white;
    margin-bottom: 1.5rem;
}

.form-row {
    width: 750px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.mat-mdc-raised-button:disabled {
    background-color: rgba(150, 150, 150, 0.6);
}

.chart {
    position: relative;
    width: 50vw;
    height: 40vh;
    background-color: white;
    border-radius: 1rem;

    .back-button {
        position: relative;
        top: 1em;
        left: 0;
        width: 3em;
        height: 3em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.6);
        /* offset-x | offset-y | blur-radius | color */
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        span {
            text-align: center;
            width: 0.6em;
        }
    }
}

