.main-div {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url("/../assets/tlou.png");
    background-size: cover;

    @media (max-width: 600px) {
        overflow: auto;
        max-width: 100%;
        // margin: 0;
        box-shadow: none;
        // padding: 0;
    }
}
mat-card {
    margin: 1em;
}

.main-header {
    font-family: 'headliner';
    font-size: clamp(3rem, 1.09523809537rem + 8.45vw, 13.5rem);
    // https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
    text-shadow: 2px 1px 10px black;
    align-items: center;
    // height: 20vh;
    color: white;
    margin-bottom: 3.5rem;
    white-space: nowrap;

}

.form-row {
    max-width: 750px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    mat-form-field {
        margin: 1em;
    }
}

.mat-mdc-raised-button:disabled {
    background-color: rgba(150, 150, 150, 0.6);
}

.main-card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &.transparent {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
}

.chart {
    position: relative;
    width: 50vw;
    background-color: white;
    border-radius: 1rem;
    margin: 2rem;
    margin-top: 1.5rem;
}

.back-button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 3em;
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.6);
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    span {
        text-align: center;
        width: 0.6em;
    }
}

.extra_data {
    position: relative;
    width: 50vw;
    background-color: white;
    border-radius: 1rem;
    margin: 2rem;
    margin-top: 1.5rem;
    .extra_data_header {
        width: 100%;
        text-align: center;
    }
}
